<div class="d-flex h-100 flex-column overflow-auto flex-fill" data-channel-subscribe="room" data-room-id="<%= chatroom.id %>">
  <% messages.each do |message| %>
    <div class="row m-1 justify-content-<%= message.user_id == current_user.id ? "end" : "start" %>">
      <div class="rounded-lg bg-primary text-white px-4 py-2">
        <p class="m-0 text-small font-weight-bolder"><%= message.content %></p>
      </div>
    </div>
  <% end %>
</div>