<a href="#collapseCardExample" class="d-block bg-white border border-left-0 border-right-0 m-0 p-4" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
  <h6 class="m-0 font-weight-bold text-secondary">Recentes</h6>
</a>
<div class="collapse show" id="collapseCardExample">
  <% if @chatrooms.present? %>
    <% @chatrooms.each do |chatroom| %>
      <%= link_to chatroom_path(chatroom), class: "d-block bg-light border border-left-0 border-right-0 m-0 p-4" do %><%= chatroom.name %>
      <% end %>
    <% end %>
  <% else %>
    <p>Nenhuma conversa</p>
  <% end %>
</div>