@import 'bootstrap/dist/css/bootstrap';
//index
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

//app
:root {
  --bg-dark: #1a2f3a;
  --logo-height: 100px;
  --logo-height-mobile: 130px;
  --header-height: 70px;
  --menu-top-height: auto;
  --aside-width: 225px;
  --footer-height: auto;

  --shadow:
    0 2px 23px 0 rgba(0, 0, 0, 0.1),
    0 2px 49px 0 rgba(0, 0, 0, 0.06);
}

* {
  box-sizing: border-box;
  font-family: 'MontSerrat', sans-serif;
}

.app {
  margin: 0px;
  display: grid;
  grid-template-columns: var(--aside-width) 1fr;
  grid-template-rows: 
    var(--header-height)
    1fr
    var(--footer-height);
  grid-template-areas: 
    "menu header"
    "menu content"
    "menu footer";
  height: 100vh;
  background-color: #f5f5f5;
}

header.header {
  grid-area: header;
}

aside.menu-area {
  grid-area: menu;
}

main.content {
  grid-area: content;
}

footer.footer {
  grid-area: footer;
}


// header
header.header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 0 13px;
  overflow: visible;
  white-space: nowrap;
  box-shadow: var(--shadow);
}

header.header h1 {
  font-size: 1.8em;
}

header.header .content {
  display: flex;
  align-items: center;
}

.user-options {
  display: flex;
  align-items: center;
}

//nav
aside.menu-area {
  background-color: var(--bg-dark);
  box-shadow: 
    2px 0 10px 0 rgba(0, 0, 0, 0.12),
    2px 0 18px 0 rgba(0, 0, 0, 0.09);
}

.logo {
  width: 100%;
  text-align: center;
}

.menu span {
  color: #ccc;
  font-weight: 300;
}

.menu a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  padding: 15px;
}

.menu a:hover {
  color: white;
  background: linear-gradient(135deg, #07a7e3 0%, #32dac3 100% ); 
}

//main
main > div {
  margin-bottom: 1rem;
}

//footer
footer.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  box-shadow: var(--shadow);
}

.post-card {
  width: 100%;
  margin: 8px auto;
}

.post-card span {
  font-size: 0.8em;
}

.btn-blue {
  background-color: #07a7e3;
  color: white;
  box-shadow: var(--shadow)
}

.btn-blue:hover {
  background: linear-gradient(135deg, #07a7e3 0%, #32dac3 100% );
  color: white;
}

p {
  word-wrap: break-word;
}

a {
  color: #07a7e3;
}

.comment-item .comment-content {
  max-width: 80%;
  word-wrap: break-word;
} 

.collapse-menu {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 3; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: var(--bg-dark); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the menu */
}

/* The navigation menu links */
.collapse-menu a {
  padding: 8px 32px 8px 32px;
  text-decoration: none;
  font-size: 1em;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.collapse-menu a:hover {
  color: #f1f1f1;
  background: linear-gradient(135deg, #07a7e3 0%, #32dac3 100% ); 
}

/* Position and style the close button (top right corner) */
.collapse-menu .closebtn {
  text-align: right;
}

.session-profile {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
}

.profile-photo {
  margin: 5px;
  align-self: flex-start;
}

.profile-photo img {
  width: 150px;
  height: auto;
}

.profile-info {
  margin: 5px;
}

.posts {
  margin: 10px auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

.posts .post-card {
  margin: 10px;
  width: 30%;
}

.post .body-content{
  max-height: 300px;
}

.text-small {
  font-size: 0.8em;
}

.message-session {
  max-height: 100%;
}

@media(max-width: 1200px){
  .posts {
    margin: 10px auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
  }
  
  .posts .post-card {
    margin: 10px;
    width: 45%;
  }
  
  .post .body-content{
    max-height: 300px;
  }
}

@media(max-width: 992px){
  .posts {
    margin: 10px auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
  }
  
  .posts .post-card {
    margin: 10px;
    width: 100%;
  }
  
  .post .body-content{
    max-height: 300px;
  }
}

@media(max-width: 768px){
  .app {
    grid-template-rows:
      var(--header-height)
      1fr
      var(--footer-height);
    grid-template-columns: var(--aside-width) 1fr;
    grid-template-areas: 
      "menu header"
      "menu content"
      "menu footer";
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-flex-start;
    height: 100%;
  }

  hr {
    display: none;
  }

  .menu a {
    padding: 10px;
    margin: 0px;
    width: 100%;
    text-align: left;
  }

  .post-card {
    max-width: 90vw;
    width: 100%;
    margin: 10px auto;
  }

  .user-options img {
    width: 40px;
    height: auto;
  }

  .session-profile {
    display: flex;
    justify-content: center;
    font-size: 1em;
  }

  .profile-photo img {
    width: 100px;
    height: auto;
  }
}

@media(max-width: 576px){
  .app {
    grid-template-rows:
      var(--header-height)
      1fr
      var(--footer-height);
    grid-template-columns: auto;
    grid-template-areas:
      "header"
      "content"
      "footer";
  }

  aside {
    display: none!important;
  }

  .post-card {
    width: 100%;
    margin: 10px auto;
  }

  // .user-options img {
  //   width: 25px;
  //   height: auto;
  // }
}