<div class="d-flex flex-wrap m-md-2">
  <% @posts.each do |post| %>
    <div class="card post-card shadow-sm">
      <%= render partial: 'includes/post_body', locals: { post: post } %>
    </div>
  <% end %>
</div>

<%= link_to 'New Post', new_post_path, class: "btn btn-blue m-2" %>
