@import 'bootstrap/dist/css/bootstrap';

.sidebar{
  position: absolute;
  width: 268px;
  left: 0px;
  top: 0%;
  bottom: 0%;
  border-right: 3px solid white;
  
  background: #0070C0;
}

.messages-area{
  position: absolute;
  padding: 3vw;
  left: 268px;
  right: 0px;
  top: 67px;
  bottom: 0px;
  
  background: #F1F1F1;
}

.titlebar{
  position: absolute;
  height: 68px;
  left: 266px;
  right: 0px;
  top: 0px;
  
  background: #0070C0;
}

.titlebar h1{
  position: relative;
  width: 177px;
  height: 28px;
  margin: 0 auto;
  top: 20px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  
  color: #FFFFFF;
}

.sidebar .content{
  margin: 10px;
  padding: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  
  color: #FFFFFF;
}

.user-header{
  margin-top: 0;
}

.chat-list{
  display: flex;
}

.chat-item{
  display: flex;
  align-items: center;
  width: 100%;
  left: 0;
  right: 0;
  top: 0%;
  bottom: 0%;

  background: #DFDFDF;
}

.chat-item span{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;

  color: #000000;
}

.img{
  display: flex;
  align-items: center;
  text-align: center;
  margin: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #C4C4C4;
}

hr{
  background-color: white;
}